@font-face {
  font-family: 'ABC Favorit Extended Trial';
  src: url('fonts/ABCFavoritExtended-Book-Trial.otf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'ABC Favorit Extended Trial';
  src: url('fonts/ABCFavoritExtended-Light-Trial.otf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'ABC Favorit Extended Trial';
  src: url('fonts/ABCFavoritExtended-Regular-Trial.otf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'ABC Favorit Extended Trial';
  src: url('fonts/ABCFavoritExtended-Medium-Trial.otf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'ABC Favorit Extended Trial';
  src: url('fonts/ABCFavoritExtended-Bold-Trial.otf') format('truetype');
  font-weight: 700;
}

body {
  font-family: 'ABC Favorit Extended Trial', sans-serif;
  font-weight: 400; /* regular weight */
}